template.taco-article
  .article-inner-wrapper
    h2(tabIndex="0")
      a(href="http://baltimore.craigslist.org/crg/4298347086.html", target="_blank", title="Link opens in a new window")
        | DRIVER WITH 4 WHEEL DRIVE VEHICLE NEEDED FOR EMERGENCY TACO BELL RUN
    p It's a snowy night. You have a few drinks, play some video games and then it hits you–an overwhelming desire for a taco.
    p That's what apparently happened to one Baltimorean last night who posted on Craigslist.
    p
      a(href="http://baltimore.craigslist.org/crg/4298347086.html", target="_blank", title="Link opens in a new window")
        | View on Craigslist
