$margin-unit: 8px
$default-margin: $margin-unit * 2

$primary-bg-color: #fddf96
$secondary-bg-color: #dccb09

$link-primary-color: #000
$link-secondary-color: #2ec133
$link-tertiary-color: #fff

$shadow-color: #999

.offscreen, .accessLabel
  display: block
  left: -50000px
  position: absolute

#container
  background: $primary-bg-color url(../images/taco-nyan.jpg) no-repeat bottom right

body, button
  font-family: Menlo, Courier, monospace

button, .button
  background-color: $secondary-bg-color
  font-weight: bold
  border: none
  display: block
  font-size: 1em
  text-align: left
  -webkit-appearance: none

a, button, .button
  color: $link-primary-color
  cursor: pointer

  &:hover, &:focus
    color: $link-secondary-color

.custom-dropdown a, button, .button
  display: inline-block
  padding: $margin-unit
  text-decoration: none

h1, h2, h3, h4, p
  line-height: 1.25em
  margin-bottom: $default-margin

h1
  font-size: 1.5em

h2
  font-size: 1.25em

h3, h4
  font-size: 1em
  margin-bottom: $default_margin / 2

header p
  font-size: 0.75em
  font-style: italic
