@import 'reset'
@import 'mixins'
@import 'defaults'

*
  +box-sizing

.custom-dropdown,
.shadow-dropdown
  margin: $default-margin 0
  position: relative
  width: 30%

  a, button
    display: block
    padding: $margin-unit
    text-decoration: none
    width: 100%

  button
    background-color: $list-item-bg-color
    font-weight: bold

    &:hover, &:focus
      color: $link-secondary-color

    &:after
      content: '\25BC'
      display: inline-block
      float: right
      vertical-align: middle

  ul
    +box-shadow
    background-color: #fff
    display: none
    list-style: none
    position: absolute
    visibility: hidden
    z-index: 1
    width: 100%

    a:hover, a:focus
      background-color: $link-secondary-color
      color: $link-tertiary-color

  &.active
    .trigger:after
      content: '\25B2'

    ul
      display: block
      visibility: visible
