doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Web Components & Accessibility Sandbox
    link(rel="stylesheet", type="text/css", href="./assets/styles/main.css")

body
  header
    h1 Web Components & Accessibility Sandbox
  main
    include templates/mixins/_dropdown.jade
    include templates/mixins/_div_button.jade
    include templates/mixins/_button_button.jade

    section
      header
        h2 Shadow DOM Content Tests
      include templates/partials/_shadow_article.jade
      taco-article

    section
      header
        h2 Interactive Widgets

      article
        // traditional DOM version
        h3 Dropdown DOM Widget
        +dropdown("dropdown1", "label1", "linklist1")

      article
        // Shadow DOM version
        h3 Dropdown Web Component
        include templates/partials/_shadow_dropdown.jade
        shadow-dropdown

    section
      header
        h2 Buttons

      div.button-group
        article.button-widget
          h3 Div with Tab Index
          +div_button

        article.button-widget
          h3 Shadow DOM Div with Tab Index
          include templates/partials/_shadow_div.jade
          div-button

      div.button-group
        article.button-widget
          h3 Button
          +button_button

        article.button-widget
          h3 Shadow DOM Button
          include templates/partials/_shadow_button.jade
          button-button

  script(src="./assets/bower_components/platform/platform.js")
  script(src="./assets/scripts/main.js")
